@model IEnumerable<ProcureRiskAnalyzer.Web.Models.Tender>

<h2>Tenders</h2>
<table class="table">
    <thead>
        <tr>
            <th>Code</th>
            <th>Buyer</th>
            <th>Value</th>
            <th>Supplier</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model)
        {
            <tr>
                <td>@t.TenderCode</td>
                <td>@t.Buyer</td>
                <td>@t.ExpectedValue</td>
                <td>@t.Supplier?.Name</td>
                <td>@t.Date.ToShortDateString()</td>
                <td><a href="/Tenders/Details/@t.Id">Details</a></td>
            </tr>
        }
    </tbody>
</table>
